.gradientText {
  background: linear-gradient(
    90deg,
    rgba(255, 15, 155, 1) 10%,
    rgb(59, 130, 246) 70%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.animatedBorderBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  width: fit-content;
  margin: 16px auto 0;
  overflow: hidden;
  border-radius: 6px;
}

.animatedBorderBox::after {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: black;
  border-radius: 6px;
}

.animatedBorderBox::before {
  content: '';
  position: absolute;
  width: 140%;
  height: 70%;
  background: linear-gradient(
    90deg,
    rgba(255, 15, 155, 1) 10%,
    rgb(59, 130, 246) 70%
  );
  animation: spinning 4s linear infinite;
}

.animatedBorderBox a {
  position: relative;
  z-index: 10;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
