@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #ffffff;
  --background-color: #000;
  --primary-color: #93ddc2;
  --secondary-color: #26697b;
  --accent-color: #4193c4; /* Verde */ /* Morado para el color de acento */
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes heart-pulse {
  50% {
    opacity: 0.5;
    transform: scale(80%);
  }
}
.animate-heart-pulse {
  animation: heart-pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
