@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #ffffff;
  --background-color: #000;
  --primary-color: #93ddc2;
  --secondary-color: #26697b;
  --accent-color: #4193c4; /* Verde */ /* Morado para el color de acento */
  --border-color: #7a828e;
}

html {
  box-sizing: border-box !important;
}
*,
*:before,
*:after {
  box-sizing: inherit !important;
}

body {
  color: var(--text-color);
  background: var(--background-color);
}

.h1 {
  @apply text-3xl lg:text-4xl xl:text-5xl;
}

.h2 {
  @apply text-xl lg:text-2xl;
}

.h3 {
  @apply text-lg lg:text-xl;
}

.h4 {
  @apply text-base;
}

/* button {
  all: unset;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.customShadow {
  -webkit-box-shadow: 0px 0px 50px 20px rgba(255, 15, 155, 1);
  -moz-box-shadow: 0px 0px 50px 20px rgba(255, 15, 155, 1);
  box-shadow: 0px 0px 50px 20px rgba(255, 15, 155, 1);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}
